body{
   padding: 70px;
   /* background: linear-gradient(to bottom right, #ffffff,#96a1ff,#85ddfd); */
   background: linear-gradient(to left,#7cc7e3,#96a1ff);
}
 /* div.modal-body{
    border: 2px solid rgb(238, 241, 188) ;
    width: 50%;
    margin-top: 200px;
    padding: 200px;
    background-color:rgb(5, 86, 106);
 } */

 .heading{
   text-align: center;
 }
 h1{
   font-family:'Courier New', Courier, monospace;
   font-size: 70px;

   color:rgb(28, 2, 99);
 }

 label{
   color: rgb(255, 255, 255);
 }
.btn-secondary{
   background-color:#85ddfd;
   color: black;
    text-align: center;
 }

.btn-primary{
   background-color:#85ddfd;
   color: black;
    text-align: right;
 }

 .container{
   background-color:rgb(28, 2, 99);
   width: 750px;
   height: 400px;
   border-radius: 2.5%;
   align-items: center;
   margin-top: 50px;
}